<label class="pb-3" for="question">Ask your coach anything:</label>
<form class="input-group" action="/answer" data-turbo="false">
  <input class="question-input" type="text" name="question">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
